heello home page
<br/>


<div class="row">

  <%= link_to "Go to articles", articles_path %> |
  <%= link_to "About", about_path %>
</div>
<div class="row">
  <%= link_to "Sign up", signup_path %>
</div>